.selectInput,
.textareaInput {
  width: 100%;
  border: 1px solid #DAE0E7;
  border-radius: 3px;
  background: #fff;
  font-weight: 400;
  font-size: 15px;
  color: #444;
  padding: 11px 20px;
  height: 50px;
  transition: 0.3s ease;
}

.textareaInput {
  height: 120px;
  resize: vertical;
}
